.app .banner h1 {
  color: black;
  padding-top: 41px;
  font-weight: bold;
}

.app .banner h2 {
  color: black;
  margin-top: 14px;
  margin-bottom: 30px;
  font-size: 25px;
}

.app .banner {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  padding: 0;
}

.app .banner button {
  background-color: rgb(255, 150, 0);
  width: 635px;
  font-size: 31px;
  line-height: 1.3;
  padding: 36px 20px 37px;
  text-align: center;
  max-width: 100%;
  float: none;
  border: none;
  outline: none!important;
  background-attachment: scroll;
  background-color: rgb(255, 150, 0);
  font-weight: 700;
  box-shadow: inset 0 -4px 0 rgba(0,0,0,0.19);
  margin-bottom: 10px;
}

.app .banner p {
  color: #2b2828;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.app .banner p span {
  color: rgb(255, 150, 0);
}

@media screen and (max-width: 768px) {

  .app .banner button {
    font-size: 16px;
  }

  .app .layout-footer {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .app .banner h2 {
    font-size: 15px;
  }

  .app .banner h1 {
    font-size: 17px;
  }
}

  .app {
    background: #F5F5F5;
  }

  .app nav.navbar {
    background-image: none;
    background: #F5F5F5;
    border-bottom: 1px solid #E3E3E3;
    box-shadow: none;
  }

  .app .navbar-header .navbar-brand {
    color: #000;
    font-family: 'Droid Serif Regular', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    line-height: 3.5rem;
    height: auto;
    text-transform: initial;
  }

  .app .navbar-header .navbar-brand span {
    color: #000;
    font-size: 4.5rem;
    display: block;
  }