.header {
	background: #F5F5F5;
	margin-top: 42px;
}

.header nav.navbar {
	background-image: none;
	background: #F5F5F5;
	border-bottom: 1px solid #E3E3E3;
	box-shadow: none;
	margin-top: 42px;
}

.header .navbar-header .navbar-brand {
	color: #000;
	font-family: 'Droid Serif Regular', sans-serif;
	font-weight: normal;
	font-size: 2rem;
	line-height: 3.5rem;
	height: auto;
	text-transform: initial;
}

.header .navbar-header .navbar-brand span {
	color: #000;
	font-size: 4.5rem;
	display: block;
}

.header .header-nav-menu {
	width: 100%;
}

.header .header-nav-menu li {
	text-align: right;
	width: 15%;
}

.header .header-nav-menu li:nth-child(4) {
	width: 24%;
}

.header .header-nav-menu li:nth-child(5) {
	width: 30%;
}

.header .header-nav-menu li a {
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 1.8rem;
	font-weight: 300;
	padding: 5.5rem 0 3.3rem 0;
	line-height: normal;
}

.header .banner-header {
	height: 40vw;
}

.header .banner-header .container {
	background: url(/images/foto_01.png) no-repeat right center;
	background-size: contain;
}

.header .banner-header .container h1 {
	font-family: 'Playfair Display', serif;
	font-size: 6.8rem;
	margin-top: 19rem;
	margin-bottom: 5.4rem;
}

.header .banner-header .container p {
	font-family: 'Poppins', serif;
	font-size: 1.8rem;
	font-weight: 300;
	margin-left: 5rem;
}

.header .banner-header .container p span {
	font-weight: 500;
}

.header .button-bottom {
	padding: 1.5em 0 3em 0;
}

.header .button-bottom .container .next-section {
	content: url("/images/angle-down.svg");
	display: block;
	margin: 0 auto;
    width: 4.6rem;
}

.header div#barra-brasil {
	position: fixed;
	top: 0;
	z-index: 1040;
	width: 100%;
}

.header ul#menu-barra-temp {
	list-style:none;
}

.header ul#menu-barra-temp li {
	display:inline; 
	float:left;
	padding-right:10px;
	margin-right:10px; 
	border-right:1px solid #EDEDED;
}

.header ul#menu-barra-temp li a{
	font-family:sans,sans-serif; 
	text-decoration:none; 
	color:white;
}