@font-face {
    font-family: 'Droid Serif Regular';
    src: url('droid-serif/DroidSerif-Regular-webfont.eot');
    src: url('droid-serif/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('droid-serif/DroidSerif-Regular-webfont.woff') format('woff'),
         url('droid-serif/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('droid-serif/DroidSerif-Regular-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}