.videos-totem {
		background: #F5F5F5;
		padding-bottom: 0;
    height: 88.4vh;
}

.videos-totem .principal h1 {
	font-family: 'Playfair Display', serif;
	font-size: 6.8rem;
	margin: 6.4rem 0 2rem 0;
}

.videos-totem .principal p {
	font-family: 'Poppins', serif;
	font-size: 1.8rem;
	font-weight: 300;
	padding: 1.4rem 0;
}

.videos-totem .highlights-column.col-md-4 {
	padding-top: 27rem;
}

.videos-totem .highlights-column.col-md-4 img {
	width: 10rem;
}

.videos-totem .highlights-column.col-md-4 .content-section {
	cursor: pointer;
	padding-top: 6rem;
}

.videos-totem .highlights-column.col-md-4 .content-section h2 {
	font-family: 'Playfair Display', serif;
	font-size: 2.6rem;
	margin: 0;
}

.videos-totem .highlights-column.col-md-4 .content-section p {
	font-family: 'Poppins', serif;
	font-size: 1.4rem;
	line-height: 2rem;
	margin: 2rem 0 0 0;
}

.videos-totem .principal .video-react .video-react-poster {
	background-color: #F5F5F5;
}

.videos-totem .principal .video-react .video-react-big-play-button {
	border: 0;
	border-radius: 5rem;
	width: 2em;
	height: 2em;
	line-height: 2em;
	top: 50%;
	left: 50%;
	margin: -1em 0 0 -1em;
}