.museum-competition {
    padding: 0 0 10rem 0;
}

.museum-competition .header-section h1 {
	font-family: 'Playfair Display', serif;
	font-size: 6.8rem;
	margin: 0;
	text-align: center;
}

.museum-competition .header-section .header-line {
	background: #B39F51;
	height: 10rem;
	width: 1px;
	margin: 1rem auto;
}

.museum-competition .content-section h3 {
	color: #B39F51;
	font-family: 'Droid Serif Regular', sans-serif;
	font-size: 2rem;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 3.2rem;
	margin: 0;
}

.museum-competition .content-section p {
	font-family: 'Droid Serif Regular', sans-serif;
	font-size: 1.25rem;
	font-weight: normal;
	line-height: 2.2rem;
	margin-bottom: 2rem;
}

.museum-competition .content-section .col-md-5 {
	text-align: center;
}

.museum-competition .content-section img {
	width: 42rem;
}
.museum-competition .button-bottom {
	padding: 0;
}