.modal .modal-header {
  border: 0;
}

.modal .modal-header h4 {
  font-size: 26px;
  color: #000;
  font-family: 'Playfair Display', serif;
  margin: 0;
  text-align: center;
  padding: 0 2rem;
}

.modal .modal-header .close {
  font-size: 30px;
  margin: -12px -8px 0 0;
}

.modal .modal-footer {
  display: none;
}

.modal .modal-body {
  padding: 45px 55px;
  text-align: center;
}

.modal .modal-body img {
  width: 35rem
}

.modal .modal-body .prev img,
.modal .modal-body .next img {
  width: 4rem;
  margin-top: 5rem;
  cursor: pointer;
}

.modal .modal-body .next img {
  margin-left: 0.6rem; 
}

.modal .modal-group button {
  width: 100%;
}

.modal #step-2 {
  padding-top: 20px;
}

.modal .modal-group label {
  width: 60%;
  float: right;
  text-align: right;
  font-size: 21px;
  font-weight: 300;
  color: #587581;
  margin: 5px;
  margin-bottom: 5px;
}

.modal .text-step {
  font-size: 30px;
  font-weight: bold;
  color: #acc4cd;
  text-transform: uppercase;
}

.modal .text-step2 {
  font-size: 30px;
  font-weight: bold;
  color: #234668;
  text-transform: uppercase;
}

.modal .book-description p {
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  color: #525252;
  margin-bottom: 25px;
  line-height: 1.42;
  margin-bottom: 10px;
}
