.layout-footer .yt-button {
  padding: 39px;
}

.layout-footer .fb-like {
  padding: 15px;
}

.layout .header a {
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  color: #ffffff;
  display: block;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.layout .header a span {
  font-size: 12px;
  color: #d9534f;
}

.layout .navbar {
  margin-bottom: 0;
  border-radius: 0;
  text-align: left;
}

.layout .navbar-inverse {
  background-color: #383737;
  border-color: #080808;
}
