.layout-footer .yt-button {
  padding: 39px;
}

.layout-footer .fb-like {
  padding: 15px;
}

.layout .navbar {
  margin-bottom: 0;
  border-radius: 0;
  text-align: left;
}

.layout .navbar-inverse {
  background-color: #383737;
  border-color: #080808;
}
